*{
  margin: 0;
  padding: 0;
}

#navbar{
  display: flex;
  align-items: center;
  gap: 50rem;
  padding: 2rem;
  background-color: black;
}
#navbar h1{
  color: white;
  font-weight: 600;
  font-size: xx-large;
}
#list{
  font-size: large;
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  color: #ddd;
}

#list a{
  text-decoration: none;
  display: flex;
  color: grey;
}
#search{
  text-align: center;
  margin: 2rem;
}
#search input{
  padding: 1rem;
  width: 70%;
  border-radius: 1rem;
  border: solid 1px black;
}
#search input:focus{
  outline: none;
}
#card{
  /* width: 100%; */
  display: flex;
  gap: 1rem;
  margin: 1rem;
  margin-top: 3rem;
  justify-content: center;
}
.card-container{
  height: 50vh;
  width: 15%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #ddd;
}
.hide{
  display: none;
}
.card-image{
  width: 100%;
  height: 40vh;
}
.card-text{
  text-align: center;
}
#about{
  /* width: 100%; */
  /* text-align: center; */
  margin-top:3rem;
  margin: 0.5rem;
}
#about h1{
  text-align: center;
}
#about p{
  margin: 1rem;
}
#contact{
  margin-top: 2rem;
  padding: 1rem;
  background-color: black;
  color: white;
}
#contact p{
  padding: 0.25rem;
  text-align: center;
}
#contact h2{
  text-align: center;
}
.contact-text{
  margin-top:1rem ;
}
.contact-hide{
  display: none;
}

/* media  */
@media screen and (max-width:600px) {
  #navbar{
    padding: 1rem;
  }
  #navbar h1{
    font-size: larger;
  }
  #list{
    display: none;
  }
  #search{
    margin: 1rem;
    font-size: medium;
  }
  #search input{
    padding: 0.5rem;
    width: 80%;
    border-radius: 10px;
  }
  #card{
    margin-top: 1rem;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .card-container{
    padding: 0;
    width: 40%;
    height: 30vh;
  }
  .card-image{
    height: 25vh;
    border-radius: 10px;
  }
  .card-text{
    padding: 0.25rem;
    display: none;
  }
  .hide{
    display: block;
    padding: 0.25rem;
    font-size: smaller;
    text-align: center;
  }
 
  #about h1{
    font-size: large;
  }
  #about p{
    font-size: smaller;
    margin: 0.5rem;
  }
  .contact-text{
    display: none;
    font-size: 10px;
    margin-top: 0.5rem;
   
  }
  #contact p{
    text-align: center;
    font-size: smaller;
    padding: 2px;
  }
  #contact h2{
    font-size: large;
  }
  .contact-hide{
    display: block;
    text-align: left;
  }
}